<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" strict="true">
    <testsuites>
        <testsuite name="PredisWrapper Test Suite">
            <directory>tests/Burgov/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Burgov/</directory>
        </whitelist>
    </filter>

    <php>
        <!-- Redis -->
        <server name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <server name="REDIS_SERVER_PORT" value="6379" />
        <!--<server name="REDIS_SERVER_DBNUM" value="15" />-->
        <server name="REDIS_CLI_EXECUTABLE" value="/usr/bin/redis-cli" />
    </php>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>