<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" strict="true">
    <testsuites>
        <testsuite name="PredisWrapper Test Suite">
            <directory>tests/Burgov/</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist>
            <directory suffix=".php">lib/Predis/</directory>
        </whitelist>
    </filter>

    <php>
        <!-- Redis -->
        <const name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <const name="REDIS_SERVER_PORT" value="6379" />
        <const name="REDIS_SERVER_DBNUM" value="15" />
    </php>
</phpunit>